:root{
    --white: #fff;
    --black: #000;
    --black-light:#222121;
    --black-light-sidebar:#333333;
    --light: #f6f6f6;
    --blue:#0000FF;
    --blue-light: #647eff;
    --gray:#ccc;
    --pink: #e83e8c;
    --red: #ea5455;
    --ruby:#900603;
    --orange: #ff9f43;
    --yellow: #ffc107; 
    --yellow-light:#fffcf1;
    --chocolate:#d2691e;
    --beige:#f2f2d3;
    --backgound:#f0f0f0;
    --gray-dark:#171717;
    --header:12vh;
    --footer:10vh;
    --navbar:10vh;
    --background-login: url('../image/background.jpg');

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--black-light);
}
#app{
    max-width: 100vw;
    width: 100%;
    padding:0 ;
    position: relative;
    text-align: start;
   
}
.header{
    background-color: var(--white);
    width: 100%;
    height: var(--header);  
}
.navbar{
    background-color: var(--yellow);
    width: 100%;
    height: var(--navbar);
}

.body{
    min-height: calc( 100vh - var(--header) - var(--footer) );
    right: calc(  83.333% - 100% );
    background-color: var(--light);
    display: inline-block;
    flex: 1;
}


.sidebar{
    background-color: var(--black-light-sidebar);
    display: inline-block;
    position: fixed; 
    width: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.footer{
    display: grid;
    position: fixed; 
    left: 0;
    bottom: 0;
    right: 0;
    place-items: center;
    height: var(--footer);
    background-color: var(--gray-dark);
    padding-left:16px ;
    z-index: 3;
}

.login{
    background-image: var(--background-login);  
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-login{
    background-color: var(--chocolate);
    color: var(--white);
}
.btn-login:hover{
    color: var(--beige)
}
/*Alert*/
.custom-popup-class {
    width:auto; 
    height: 76px;
    background-color: white;
}
.custom-popup-successAd {
    width: auto; /* Đổi kích thước theo mong muốn */
    height: auto; /* Hoặc bạn có thể định nghĩa chiều cao cố định nếu cần */
    background-color: var(--white);
    padding-bottom: 0px;
}
.custom-popup-successAd .swal2-html-container{
    padding-top:8px;
    margin: 0 ;
   
}
.successAd > .material-symbols-outlined{
    font-size: 24px;
    color: greenyellow;
   
}
.swal2-html-container{
    overflow: hidden !important;
}

.border-radius {
    border: 1px solid #eae6e6;
    border-radius: 5px;
    min-height: 50px;
  }
.invalid-error{
    color:#dc3545;
    font-size: 14px;
}

.title{
    color:var(--chocolate)
}
.radius{
    border-radius: 50%;
    background-color:var(--beige);
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    font-weight: 500;
    cursor: pointer;;
}